@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: whitesmoke;
    font-size: 1.6rem;
}

html {
    /* set rem 1rem=10px */
    font-size: 62.5%;
}

a {
    text-decoration: none;
}
ul {
    list-style: none;
}
h1, h2{
    font-size: 2.2rem;
    font-weight: 500;
}
h3, h4 {
    font-size: 1.8rem;
} 
span, a{
    display: inline-block;
}

.container-width {
    width: 85%;
    margin: auto;
}

.nav{
    display: flex;
}
.menu-left {
    width: 40%;
}
.menu-left ul{
    display: flex;
    gap: 1rem;
}
.menu-left ul li {
    padding: 1.5rem 1rem;
}
.menu-left ul li:hover{
    background-color: antiquewhite;
    cursor: pointer;
}
.menu-center {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-center img {
    width: 130px;
    object-fit: contain;
}
.menu-right {
    width: 40%;
}
.menu-right i{
    font-size: 1.8rem;
}
.menu-right a {
    font-weight: 600;
    color: black;
}
.search {
    display: flex;
    align-items: center;
    gap: .8rem;
    padding: .6rem 1.2rem;
    border: 1px solid #ccc;
    background: white;
}

.search i {
    font-size: 1.4rem;
    color: #777;
}

.search input {
    border: none;
    outline: none;
    font-size: 1.4rem;
    width: 120px;
    cursor: pointer;
}

.menu-right ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    height: 100%;
}
.menu-right ul li {
    height: 100%;
    display: flex;
    padding: 0 1.5rem;
    align-items: center;
}
.menu-right ul li:hover:not(:first-child) {
    background-color: antiquewhite;
    cursor: pointer;
}
.promo-bar {
    background: black;
    font-size: 2rem;
    color: white;
    text-align: center;
    padding: 1rem 0;
}
.shadow {
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

/* .hero {
    height: 650px;
}
.hero-btn {
    position: absolute;
    bottom: 15%;
    display: flex;
    gap: 20px;
}
.hero-btn button {
    padding: 1.3rem 2.5rem;
    border-radius: 0.5rem;
    border: black 2px solid;
    font-size: 2rem;
    font-weight: bold;
    background-color: transparent;
} */
 /* HERO */
.hero {
    margin-top: 0;
}

.mySwiper {
    width: 100%;
    height: auto;
}

.swiper-slide {
    position: relative;
}

.swiper-slide img {
    width: 100%;
    display: block;
}

/* HERO BUTTONS */
.hero-btn {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 2rem;
    bottom: 20%;
}

.hero-btn button {
    padding: 1.2rem 3.5rem;
    font-size: 1.6rem;
    background: white;
    border: 2px solid black;
    font-weight: 600;
    cursor: pointer;
}

.hero-btn button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
